:root{
  --main-green: green;
  --background: #000;
  --color: white;
}
.room{
  color: grey;
  font-weight: bold;
  display: block;
  letter-spacing: 2;
  padding: 2px;
}

body{
  background-color: var(--background);
  color: var(--color);
  font-family: Arial, Helvetica, sans-serif;
}
#alert-box{
  position: fixed;
  background-color: #000000;
  color: #fff;
  text-align: center;
  top: 0;
  left:0;
  width: 100%;
  height:100%;
  display: none;
}
/* HEADER */
header{
  display: block;
  padding: 5px;
}

.caret{
  padding: 5px;
  opacity: 0.8;
  transition: 200ms;
  color:rgba(255, 255, 255);
}
.caret:focus{
  outline: none;
}
.caret:hover{
  cursor: pointer;
  color: rgb(255,255,255)
}

/* MAIN */
main{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 30%;
  display: flex;
  flex-direction: column;
}
.center{
  vertical-align: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.heading{
  font-size: 400%;
  font-weight: 10;
  text-align: inherit;
}
/* form */
.form{
  width: 100%;
}
.form input{
  margin-left: none;
  margin-right: none;
  padding: 10px;
  width: 30%;
  border: 1px solid black;
  border-right: none;
  border-radius: none;
}
.form input:focus{
    border: 1px solid black !important;
    border-radius: none;
}
.form button{
  width: 20%;
  padding: 9px;
  margin-right: none;
  border: 1px solid green;
  color: white;
  background-color: green;
  font-weight: bold;
  transition-duration: 200ms;
}
.form button:hover{
  cursor: pointer;
  border: 1px solid rgb(0,65,0);
  background-color: rgb(0,65,0);
  transition-duration: 250ms;
}
#room-box{
  margin-top: 5px;
}
a{
  color: lightblue;
  text-decoration: none;
  font-weight: bold;
}
a:hover{
  text-decoration: underline;
}
.caret details{
    z-index: 999999999;
}
.caret details .content{
  border: 1px solid #333;
  color: white;
  padding: 20px;
  border-radius: 6px;
  max-width: 20%;
  text-align: left;
  background-color: #333;
}
.links{
  text-align: center;
}
.caret details hr{
  color: #555555;
}